body {

    background: #1a2a6c;
  
    background: -webkit-linear-gradient(to right, #05fce7dc, #c95353, #0cde33);

    background: linear-gradient(to right, #eff70d, #14adc4, #ed840b);
    


}

body {
    color: rgb(12, 4, 233);
    width: auto;
    height: auto;
}

button {
    background-color: rgb(146, 223, 199);
    color: rgb(2, 6, 255);
    width: 175px;
    height: 35px;
}
